body {
    background: repeat url("../assets/background.jpg");
  }
  
.my-image > img{
    margin: auto;
} 
.languages-section {
    margin-top: 60px;
    width:60%;
    margin:auto;
    margin-top: 60px;
}
.frameworks-section {
    width:90%;
    margin:auto;
    margin-top: 60px;

}
.tools-section {
    width:60%;
    margin:auto;
    margin-top: 60px;
    margin-bottom: 100px;
}
.center-text {
    text-align: center;
}
.languages-section div img {
    width:70px;
    min-width: 70px;
    margin:0 30px;
}
.frameworks-section div img {
    width:70px;
    min-width: 70px;
    margin:0 30px;
}
.tools-section div img {
    width:70px;
    min-width: 70px;
    margin:0 30px;
}
.languages-icons-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.frameworks-icons-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.tools-icons-wrapper {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.row {
    justify-content: center;
}
footer{
    text-align: center;
    margin:auto;
    margin-top: 70px;
    margin-bottom: 30px;
}
.social-media-buttons {
    display: flex;
    flex-wrap: wrap;
}
.contact-section {
    margin-top: 100px;
}
.contact-note {
    margin-top: 20px;
}

